[package]
name = "test-utils"
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["rlib"]

[dependencies]
soroban-sdk = "22.0.8"

[dev-dependencies]
bounty-escrow = { path = "../bounty_escrow/contracts/escrow" }
